@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Patrick+Hand&display=swap');

body{
  margin: 0 !important;
  height: 100%;
  background-color: #1B1B1B;
}

html {
  height: 100%;
}

#root {
  height: 100%;
}

.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  height: 100%;
}
