@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.editor-header {
    background-color: #222222;
}

.editor {
    background-color: #222222;
    height: 30vh;
}

.span1 {
    height: 12px;
    width: 12px;
    background-color: #FF5F55;
    border-radius: 50%;
    display: inline-block;
}

.span2 {
    height: 12px;
    width: 12px;
    background-color: #FFBD2D;
    border-radius: 50%;
    display: inline-block;
}

.span3 {
    height: 12px;
    width: 12px;
    background-color: #25C93F;
    border-radius: 50%;
    display: inline-block;  
}

.code {
    color: white;
    font-family: "JetBrainsMono", monospace;
    animation: type1 12s infinite steps(40);
    animation-delay: 1s;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
}

.code::before {
    content: '>';
    margin-right: 5px;
}

.code1 {
    color: white;
    font-family: "JetBrainsMono", monospace;
    animation: type2 12s infinite steps(42);
    animation-delay: 2s;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
}

.code1::before {
    content: '>';
    margin-right: 5px;
}

.string {
    color: #FFBD2D;
}

.print {
    color: white
}

.parentheses {
    color: white;
}



@keyframes type1 {
    0% {
        width: 2ch;
    }

    50% {
        width: 40ch;
    }
}

@keyframes type2 {
    0% {
        width: 2ch;
    }

    50% {
        width: 42ch;
    }
}

