@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

.editor-header {
    background-color: aqua;
}

.editor {
    background-color: black;
    height: 30vh;
}

.span1 {
    height: 25px;
    width: 25px;
    background-color: rgb(250, 222, 9);
    border-radius: 50%;
    display: inline-block;
}

.span2 {
    height: 25px;
    width: 25px;
    background-color: rgb(4, 223, 59);
    border-radius: 50%;
    display: inline-block;
}

.span3 {
    height: 25px;
    width: 25px;
    background-color: rgb(250, 9, 9);
    border-radius: 50%;
    display: inline-block;  
}

.code {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    animation: type1 10s infinite;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
}

.code::before {
    content: '>';
    margin-right: 5px;
}

.code1 {
    color: white;
    font-family: "Roboto Mono", monospace;
    font-size: 1.5rem;
    animation: type2 10s infinite;
    width: 0ch;
    overflow: hidden;
    white-space: nowrap;
    border-right: 3px solid;
}

.code1::before {
    content: '>';
    margin-right: 5px;
}

.string {
    color: orange;
}

.print {
    color: yellow
}

@media (max-width: 700px)
{
    .code{
        font-size: 0.9rem;
    }

    .code1 {
        font-size: 0.8rem;
    }
}

@keyframes type1 {
    0% {
        width: 0ch;
    }

    50% {
        width: 40ch;
    }
}

@keyframes type2 {
    0% {
        width: 0ch;
    }

    50% {
        width: 42ch;
    }
}

