.font-deepblue {
	color: #FF9800;
}

.font-circular-std {
    font-family: 'CircularStd';
}

.h-min-full {
	min-height: 100vh;
}

a:hover {
	color: inherit;
}
.iframe-container {
	position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}
.iframe {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.live {
	background-color: red;
	font-size: 1.25rem;
	font-weight: bolder;
	padding: 5px;
	border-radius: 5px;
	vertical-align: super;
}
