.header {
	border-radius: 20px;
}

.navs a {
	color: black !important;
	text-transform: uppercase;
}


.logout {
	text-decoration: none;
	border: none;
	background: transparent;
	color: black !important;
	text-transform: uppercase;
}

.bottom-nav {
    position: fixed;
    width: 100vw;
    bottom: 0;
    z-index: 1;
}

.get-started {
	float: right !important;
}

.tcc-logo {
	background-color: #ffffff;
	align-items: center
}
