@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');

.welcome {
	font-family: "CircularStd", cursive;
	font-size: 2rem;
	letter-spacing: 3px;
	font-weight: bolder !important;	
}

.font-deepblue {
	color: #FF9800;
}

.font-circular-std {
	font-family: 'CircularStd';
}

.brand-heading {
	font-family: "Patrick Hand", cursive;
	font-size: 20px;
	color: #FF9800
}

.welcome2 {
	font-family: "CircularStd", cursive;
	font-size: 2rem;
	letter-spacing: 4px;
	font-weight: bolder !important;	
}

.welcome::before {
	content: '';
	background-color: red;
	width: 90px;
	height: 5px;
	position: absolute;
	top: 20;
}

.tag-line {
	color: #ffffff;
	font-size: 35px;
	font-family: "CircularStd", cursive;
	letter-spacing: 2px;
}
