html {
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2f3f7;
}

header {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    padding: 20px 50px;
    border: 1px solid #f7f7f7;
    border-radius: 60px;
    box-shadow: -7px -7px 17px #fff, 7px 7px 17px rgba(70, 70, 70, 0.15);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li {
    min-width: 130px;
    font-weight: 900;
    padding: 15px;
    margin: 0 15px;
    color: black;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    box-shadow: -2px -2px 8px 0 rgba(255, 255, 255, 1), -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

ul li:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 8px 0 rgba(255, 255, 255, 1), inset -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), inset 2px 2px 8px 0 rgba(0, 0, 0, .15);
    transform: scale(0.98);
}

a {
    text-decoration: none;
    color: rgb(102, 97, 97);
}

ul li a:hover,
ul li a.active {
    cursor: pointer;
    box-shadow: inset -2px -2px 8px 0 rgba(255, 255, 255, 1), inset -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), inset 2px 2px 8px 0 rgba(0, 0, 0, .15);
    transform: scale(0.98);
}

.logo {
    min-width: 240px;
    font-weight: 600;
    text-align: center;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 10px;
    margin: 0 15px;
    line-height: 30px;
    float: left;
    cursor: pointer;
    box-shadow: -2px -2px 8px 0 rgba(255, 255, 255, 1), -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
}

.logo:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 8px 0 rgba(255, 255, 255, 1), inset -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), inset 2px 2px 8px 0 rgba(0, 0, 0, .15);
    transform: scale(0.98);
}

nav {
    float: right;
}

.menu {
    float: right;
    font-size: 4px;
    padding: 10px 22px;
    justify-content: center;
    cursor: pointer;
    border: 1px solid #f7f7f7;
    box-shadow: -2px -2px 8px 0 rgba(255, 255, 255, 1), -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), 2px 2px 8px 0 rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    display: none;
}

.menu:hover {
    cursor: pointer;
    box-shadow: inset -2px -2px 8px 0 rgba(255, 255, 255, 1), inset -2px -2px 12px 0 rgba(255, 255, 255, 0.5), inset 2px 2px 4px 0 rgba(255, 255, 255, 0.1), inset 2px 2px 8px 0 rgba(0, 0, 0, .15);
    transform: scale(0.98);
}

@media (max-width:991px) {
    header {
        padding: 5px 20px;
    }
    .menu {
        display: block;
    }
    nav {
        position: absolute;
        top: 80px;
        width: 100%;
        left: 0;
        height: calc(100vh - 50px);
        transition: .4s;
        opacity: 0;
        visibility: hidden;
    }
    nav.active {
        opacity: 1;
        visibility: visible;
    }
    ul li {
        display: block;
        margin: 12px auto;
        text-align: center;
    }
}